<div class="small-12 medium-8 medium-centered columns">
  <h2>Meet People</h2>
  <hr>
    <div class="grid">
      <%= render @users %>
    </div>
  <hr>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
