<div class="media-container">
  <%= image_tag("mobile_cover.jpg", :alt => "mobile cover") %>
  <div class="text-center overlay">
    <h2>Match, meet, mingle.</h2>
    <div class="sign-in-link">
      <%= link_to "Log In", new_user_session_path %>
    </div>
  </div>
</div>
