/* TITLE: font-family: 'Satisfy', cursive; */
/* HEADERS: font-family: 'Lora', serif; */
/* TEXT: font-family: 'Slabo 27px', serif; */
/* red #f58d7b */
/* green #7bf58d */
/* blue #8d7bf5 */
/* salmon #f58d7b */
/* complement #7be3f5 */
/* analgous mango #f5ca7b */
/* analgous pink #f57ba6 */

/* Global stuff */
a {
  font-size: 4vmin;
}

ul {
  list-style-type: none;
}

li {
  font-size: 5vmin;
}

h1 {
  font-size: 6vmin;
  padding: 0;
  margin: 0;
}

.off-canvas-wrapper {
  height: 100%;
}

/* Title bar */
.title-bar {
  border-bottom: 2px solid #f58d7b;
}

.title-bar-title {
  font-family: 'Satisfy', cursive;
  font-size: 5vmin;
  color: black;
}

/* This sets up forms */
h2 {
  padding: 10px 0 0 0;
}

.button {
  font-size: 4vmin;
  padding: 3vmin;
}

/* This sets up flash messages */
.flash {
  font-size: 4.5vmin;
  background-color: #f5ca7b;
  text-align: center;
  color: white;
}

/* This sets up the home page */
.media-container {
  position: relative;
  background-size: cover;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin-left: 15%;
  top: 150px;
  width: 70%;
  padding: 3%;
}

.overlay h1 {
  margin: 0 auto;
  font-size: 7vmin;
  color: white;
  font-family: 'Satisfy', cursive;
}

.overlay h2 {
  margin: 0 auto;
  font-size: 4vmin;
  color: white;
  font-family: 'Lora', serif;
}

.sign-in-link {
  margin-top: 3%;
}

.sign-in-link a {
  color: #f58d7b;
  font-size: 5vmin;
}

/* This sets up the off-canvas menu */
.menu a {
  padding: 1.5vmin 1.5vmin;
  font-size: 5vmin;
}


/* This sets up the show page */
img.picture {
  display: block;
  margin:auto;
}

a.next-person {
  font-size: 4vmin;
  font-weight: bold;
}
