/*.overlay h2 {
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  font-size: 4vmin;
  color: white;
  font-family: 'Lora', serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/
/* If you use match meet mingle for the show page */

/* Global stuff */
a {
  font-size: 2vmin;
}

ul {
  list-style-type: none;
}

li {
  font-size: 3.5vmin;
}

h1 {
  font-size: 6vmin;
  padding: 0;
  margin: 0;
}

/* This sets up the title bar */
.title-bar {
  border-bottom: 2px solid #f58d7b;
}

.title-bar-title {
  font-family: 'Satisfy', cursive;
  font-size: 5vmin;
  color: black;
}

/* This sets up forms */
h2 {
  padding: 10px 0 0 0;
}

.button {
  font-size: 3vmin;
  margin: 3vmin;
}

/* This sets up flash messages */
.flash {
  font-size: 4.5vmin;
  background-color: #f5ca7b;
  text-align: center;
  color: white;
}

/* This sets up the home page */
.media-container {
  position: relative;
  background-size: cover;
  width: 100%;
}

.overlay {
  position: absolute;
  margin-left: 15%;
  top: 150px;
  width: 70%;
  padding: 5%;
}

.overlay h1 {
  margin: 0 auto;
  font-size: 7vmin;
  color: white;
  font-family: 'Satisfy', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.sign-in-link {
  margin-top: 3%;
}

.sign-in-link a {
  color: #F58D7B;
  font-size: 5vmin;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;

}

/* This sets up the off-canvas menu */
.off-canvas-wrapper {
  height: 100%;
}

.menu a {
  padding: 1.5vmin 1.5vmin;
  font-size: 3.5vmin
}

.off-canvas-wrapper-inner {
  height: 100%;
}

/* This sets up the index page */
img.picture {
  padding-top: 3%;
  display: block;
  margin:auto;
}

a.next-person {
  font-size: 4vmin;
  font-weight: bold;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  height: auto;
  float: left;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Media queries */
@media only screen and (max-width: 40em) {
  a {
    font-size: 5vmin;
  }

  .menu a {
    font-size: 5vmin;
  }

  .menu > li:not(.menu-text) > a {
    padding: 1.5vmin 1.5vmin;
  }

  .button {
    font-size: 5vmin;
  }

  li {
    font-size: 5vmin;
  }
}
