<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="menuTrigger"></button>
    <a class="title-bar-title" href="/">WingMe</a>
  </div>
</div>
